<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags for Bootstrap 5 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/admin/categories.css" />
    <link rel="stylesheet" href="/stylesheets/admin/navbar.css" />
    
    <link rel="icon" href="https://res.cloudinary.com/dfezowkdc/image/upload/v1697096319/kickstore_logo_dbympn.png">
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- sidebar -->
    <%- include('../partials/adminSidebar.ejs') %>

        <!-- content body -->
        <div
          class="content container-fluid d-flex flex-column align-items-center"
        >
        <div class="popup d-none">
          <div class="dialog">Delete category <span id="confirm-name"></span>? All products and sub-categories will be moved out.</div>
          <div>
            <button onclick="closeConfirm()" class="confirm-button">Cancel</button>
          <button onclick="deleteCategory()" class="confirm-button">Delete</button>
          </div>
        </div>

        <div id="edit-form" class="d-none">
        </div>

          <div class="row">
            <button onclick="getAddFormDetails('<%= category %>')">Add category</button>
          </div>
          <div class="row d-flex justify-content-evenly">
            <% categories.forEach(function(category){ %>
            <div class="card-container col-6 col-sm-4 col-md-4">
              <div
               
                class="categoryCard flex-wrap d-flex flex-column align-items-center"
              >
                <img loading="lazy"  onclick="viewSubCategory('<%= category.name %>')" class="categoryImage" src="<%= category.image %>" />

                <div class="categoryName fw-bold"><%= category.name %></div>
                <div class="category-actions">
                  <button onclick="openConfirm('<%= category.name %>')"><i class='bx bx-trash'></i></button>
                  <button onclick="getEditFormDetails('<%= category.name %>')"><i class='bx bxs-edit'></i></button>
              </div>
              </div>
            </div>
            <% }) %>
          </div>

          <div class="row productRow d-flex justify-content-evenly">
            <div
              style="
                font-size: 1.5rem;
                font-weight: bold;
                margin-top: 2rem;
                margin-left: 1rem;
              "
            >
              Products in this category:
            </div>
            <% products.forEach(function(product){ %>
            <div class="card-container col-6 col-sm-4 col-md-3">
              <div
                onclick="viewProductDetails('<%= product._id %>')"
                class="productCard flex-wrap d-flex flex-column align-items-center"
              >
                <img loading="lazy" class="productImage" src="<%= product.image %>" />

                <div class="productName fw-bold"><%= product.brand %></div>
                <div class="productName flex-wrap"><%= product.name %></div>
                <% if(product.price === product.finalPrice){ %>
                  <div class="d-flex justify-content-center"> 
                  <div class="price fw-bold" style=" font-size: 1.2rem;">&#8377 <%= product.price %></div>
                  </div>
                  <% } else { %>
                <div class="d-flex justify-content-start gap-2 w-100 align-items-start">
                    <div class="price fw-bold" style="font-size: 1.2rem;">&#8377 <%= product.finalPrice %></div>
                  <div class="price fw-bold" style="text-decoration: line-through; color: grey; font-size: 0.9rem;">&#8377 <%= product.price %></div>
                </div>
                   <% } %>
              </div>
            </div>
            <% }) %>
          </div>

          <div class="space"></div>
        </div>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/scripts/admin/categories.js"></script>
  </body>
</html>
